#09. Pandas

In [1]:
# Importando a biblioteca pandas

import pandas as pd

In [34]:
# Importando dados csv

# file_name = 'Sales2022.csv'

caminho_arquivo = r'C:\Users\Administrator\CursoPython\Sales2022.csv'


# data_type converte colunas especificadas para o tipo de valor, str = string (cadeia de caracteres), coluna de data nao funciona no data_type

data_type = {'CustomerNumber': str,'SalesOrder': str}


# para ja converter quando eu for trazer o dataframe eu coloco: dtype = data_type, e tambem coloco: parse_dates = ['NomedaColuna'] para convertar colunas de data

df = pd.read_csv(caminho_arquivo, dtype = data_type, parse_dates = ['SalesDate'])

In [35]:
# Cabecalho mostrando por padrao as 5 primeiras linhas do dataframe, mas colocando um numero dentro do parenteses apos o head(...) eu escolho quantas linhas quero exibir

df.head()

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
0,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-01-23,32172210,60,0.00
1,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-02-13,32192966,60,249.12
2,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-03-18,32213111,60,232.34
3,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-03-25,32213405,60,55.00
4,2431,CUSTOMER 2431,BR,BA,Alagoinhas,Itapuã,BL01-CA03-1040,Lubrificantes,CA03,2019-04-16,32234208,0,-287.34

In [36]:
# Funcao que mostra o tipo de dados para cada coluna: Int = Inteiro / Object = String (Cadeia de Caracteres) / Float = Flutuantes (Decimais)

df.dtypes

CustomerNumber            object
CustomerName              object
Country                   object
State                     object
City                      object
PlantName                 object
MaterialNumber            object
BusinessLine              object
Category                  object
SalesDate         datetime64[ns]
SalesOrder                object
Volume                     int64
Revenue                  float64
dtype: object

In [30]:
# Exibe as colunas do meu dataframe

df.columns

# Seleciona as colunas atraves de uma variavel chamada "Colunas"

colunas = ['Country', 'State', 'City',
       'PlantName', 'MaterialNumber', 'BusinessLine', 'Category', 'SalesDate',
       'SalesOrder', 'Volume', 'Revenue']

# Exibe as colunas selecionadas

df[colunas]

# Das colunas selecionadas eu seleciono mais ainda apenas as que eu quero com o [[]]

df[['MaterialNumber','Category' ]].head()

   MaterialNumber Category
0  BL01-CA03-1040     CA03
1  BL01-CA03-1040     CA03
2  BL01-CA03-1040     CA03
3  BL01-CA03-1040     CA03
4  BL01-CA03-1040     CA03

Filtrando dados

In [50]:
# Unique pega os valores distintos da coluna do meu dataframe

# df['PlantName'].unique()

# Filtro apenas os valores que a PlantName e igual a Sorocaba e armazeno na variavel sorocaba_df, para isso devo escrever o nome da variavel e escrever "df[df['']=='']]"

sorocaba_df = df[df['PlantName']=='Sorocaba']
sorocaba_df

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
13258,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1039,Lubrificantes,CA03,2020-10-26,32608620,146,305.65
13259,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1039,Lubrificantes,CA03,2021-01-06,32663300,146,133.95
13260,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-04,32171451,120,57.58
13261,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-22,32172133,120,57.58
13262,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2019-01-30,32172477,120,57.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25735,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA03-2185,Aditivos,CA03,2021-04-28,32726874,0,3391.20
25736,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA03-2185,Aditivos,CA03,2021-07-29,32785472,0,154.98
25737,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA03-2186,Aditivos,CA03,2020-06-11,32532779,0,297.26
25738,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA03-2186,Aditivos,CA03,2022-03-15,32938089,0,0.45
25739,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA03-2186,Aditivos,CA03,2022-07-08,33011478,0,9.54

In [53]:
# Pega o dataframe de sorocaba_df e filtra apenas os que o Revenue e maior ou igual a 1000 usando a sintaxe "variavel[variavel['coluna']>=valor]"

sorocaba_df[sorocaba_df['Revenue']>=1000].head()

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
13371,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2021-07-23,32778746,64,4652.00
13373,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2021-08-19,32797848,32,3247.00
13374,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2021-10-25,32837698,88,1257.54
13376,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2022-02-21,32899768,134,1193.00
13379,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2022-06-01,32988723,139,1089.18

In [58]:
# Pega o dataframe de sorocaba_df e filtra apenas os que a data que e maior ou igual a 2022-01-01 usando a sintaxe "variavel[variavel['coluna']>='valor']"

sorocaba_df[sorocaba_df['SalesDate']>='2022-01-01']

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
13326,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-01-20,32883124,180,89.79
13327,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-02-02,32901276,120,65.86
13328,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-03-22,32922181,180,89.79
13329,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-04-05,32943075,120,65.86
13330,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-11-03,33072751,70,40.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25720,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA02-2173,Aditivos,CA02,2022-06-06,32994391,0,40.86
25721,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA02-2173,Aditivos,CA02,2022-06-27,32994394,0,40.86
25724,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA02-2176,Aditivos,CA02,2022-11-09,33069394,0,4688.86
25738,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA03-2186,Aditivos,CA03,2022-03-15,32938089,0,0.45
25739,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA03-2186,Aditivos,CA03,2022-07-08,33011478,0,9.54

In [63]:
# Pega o dataframe de sorocaba_df e filtra apenas os que a data que e maior ou igual a 2022-01-01 e menor ou igual 2022-01-31
# Usando a sintaxe "variavel[(variavel['coluna']>='valor') & variavel[(variavel['coluna']<='valor')]" entre parenteses sao os criterios que eu adotei para o filtro

sorocaba_df[(sorocaba_df['SalesDate']>='2022-01-01') & (sorocaba_df['SalesDate']<= '2022-01-31')]

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
13326,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-01-20,32883124,180,89.79
13350,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA03-1076,Lubrificantes,CA03,2022-01-18,32881892,6073,341.16
13492,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA09-1063,Lubrificantes,CA09,2022-01-04,32887181,1348,253.61
13493,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA09-1063,Lubrificantes,CA09,2022-01-11,32887565,1348,255.12
13530,2464,CUSTOMER 2464,BR,SP,Araçariguama,Sorocaba,BL01-CA09-1064,Lubrificantes,CA09,2022-01-21,32896241,0,344.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25558,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL01-CA11-1073,Lubrificantes,CA11,2022-01-04,32893045,259,606.86
25559,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL01-CA11-1073,Lubrificantes,CA11,2022-01-27,32894255,518,1173.22
25650,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA01-2165,Aditivos,CA01,2022-01-13,32897066,0,4493.20
25651,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA01-2165,Aditivos,CA01,2022-01-17,32897189,0,2171.00
25715,2506,CUSTOMER 2506,BR,SP,Araraquara,Sorocaba,BL02-CA02-2173,Aditivos,CA02,2022-01-04,32898075,0,39.08

In [64]:
# Pega o dataframe de sorocaba_df da modificacao acima e classifica em ordem decrescente com a funcao ".sort_values(by='coluna', ascending=False)" 
# Se eu colocar .sort_values(by='coluna', ascending=True) vai filtrar em ordem crescente a coluna especificada no "(by='coluna')"

sorocaba_df[(sorocaba_df['SalesDate']>='2022-01-01') & (sorocaba_df['SalesDate']<= '2022-01-31')].sort_values(by='SalesDate', ascending=False)

,CustomerNumber,CustomerName,Country,State,City,PlantName,MaterialNumber,BusinessLine,Category,SalesDate,SalesOrder,Volume,Revenue
20565,2491,CUSTOMER 2491,BR,SP,Araraquara,Sorocaba,BL02-CA01-2167,Aditivos,CA01,2022-01-31,32898029,0,828.00
24830,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA09-1063,Lubrificantes,CA09,2022-01-31,32888694,251,227.90
22315,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-01-31,32883619,35,365.05
24101,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA03-1040,Lubrificantes,CA03,2022-01-31,32883617,60,85.71
25062,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA11-1073,Lubrificantes,CA11,2022-01-31,32894385,458,355.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20899,2494,CUSTOMER 2494,BR,SP,Araraquara,Sorocaba,BL01-CA10-1033,Lubrificantes,CA10,2022-01-03,32890039,95,2743.22
24823,2503,CUSTOMER 2503,BR,SP,Araraquara,Sorocaba,BL01-CA09-1063,Lubrificantes,CA09,2022-01-03,32887129,1004,911.60
22433,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA04-1042,Lubrificantes,CA04,2022-01-03,32890781,458,390.72
23067,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA06-1051,Lubrificantes,CA06,2022-01-03,32883721,522,135.60
23068,2500,CUSTOMER 2500,BR,SP,Araraquara,Sorocaba,BL01-CA06-1051,Lubrificantes,CA06,2022-01-03,32883775,4698,505.74

Group by

In [73]:
# Agrupo os valores pela categoria somando a Revenue com a sintaxe "variavel.groupby('coluna')['coluna'].sum()"
# A primeira coluna nos parenteses e a coluna que quero ver agrupado pela segunda no conchetes e no final a operacao de agrupamento .sum() 

sorocaba_df.groupby('Category')['Revenue'].sum()

Category
CA01     849513.65
CA02     117107.32
CA03     322674.78
CA04    2113560.41
CA05      54003.57
CA06    1538297.66
CA07     446650.34
CA08       8775.55
CA09    1152485.33
CA10     603417.01
CA11     823863.80
Name: Revenue, dtype: float64

In [74]:
# Coloco ".sort_values(ascending=False)" para colocar em ordem do maior para o menor

sorocaba_df.groupby('Category')['Revenue'].sum().sort_values(ascending=False)

Category
CA04    2113560.41
CA06    1538297.66
CA09    1152485.33
CA01     849513.65
CA11     823863.80
CA10     603417.01
CA07     446650.34
CA03     322674.78
CA02     117107.32
CA05      54003.57
CA08       8775.55
Name: Revenue, dtype: float64

In [79]:
# Armazeno em uma variavel a funcao de group by que agrupa por 2 colunas na parte de ".groupby(['BusinessLine', 'Category'])", onde [] e a lista de colunas agrupadas

sorocaba_df_group = sorocaba_df.groupby(['BusinessLine', 'Category'])['Revenue'].sum().sort_values(ascending=False)

# Type eu visualizo o tipo de dados armazenados na variavel "sorocaba_df_group"

type(sorocaba_df_group)

pandas.core.series.Series

In [82]:
# Transforma o Series do pandas para um dataframe com o final no codigo ".reset_index()"

sorocaba_df_group = sorocaba_df.groupby(['BusinessLine', 'Category'])['Revenue'].sum().sort_values(ascending=False).reset_index()
sorocaba_df_group

     BusinessLine Category     Revenue
0   Lubrificantes     CA04  2113560.41
1   Lubrificantes     CA06  1538297.66
2   Lubrificantes     CA09  1152485.33
3        Aditivos     CA01   849513.65
4   Lubrificantes     CA11   823863.80
5   Lubrificantes     CA10   603417.01
6   Lubrificantes     CA07   446650.34
7   Lubrificantes     CA03   274446.23
8        Aditivos     CA02   117107.32
9   Lubrificantes     CA05    54003.57
10       Aditivos     CA03    48228.55
11  Lubrificantes     CA08     8775.55

In [83]:
# Exibe validando o tipo da variavel agora que transformei em dataframe

type(sorocaba_df_group)

pandas.core.frame.DataFrame

Tabelas Dinamicas

In [100]:
# Crio uma tabela dinamica do meu dataframe df que me mostra o total de aditivo e lubrificante vendidos por estado
# Na sintaxe eu coloco "df.pixot_table" no "index" vai ser as minhas linhas no "colunms" minhas colunas "value" os valores 
# No "aggfunc" e a operacao de agrupamento se vai ser soma media ou outro no "margins = true" sao os totais por linha e coluna e "margins_name" o nome dessa linha e coluna nova

df.pivot_table(
    index = 'State',
    columns = 'BusinessLine',
    values = 'Revenue',
    aggfunc = 'sum',
    margins = True, 
    margins_name = 'Total' 
)

BusinessLine    Aditivos  Lubrificantes        Total
State
BA              35806.35      340532.10    376338.45
GO             359698.84     9182677.62   9542376.46
MG             326249.94     2021472.13   2347722.07
PR             557299.90     4740469.57   5297769.47
SC             327379.73     2738307.30   3065687.03
SP            1014849.52     7015499.90   8030349.42
Total         2621284.28    26038958.62  28660242.90